* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    color: black;
    background-color: #EBEBEB;
    line-height: 2.0;
    font-size: 17px;
}

nav {
    margin: 0;
    display: flex;
    background-color: #007319;
    padding: 1px;
    font-size: 17px;
    border: 2px solid #EBEBEB;
    width: 100%;
    height: 70px;
}

nav a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #095209;
}

h1 {
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;      
    gap: 20px;                    
    margin: 1rem;
}

.home-content {
    margin-top: 1rem;
    margin-left: 43rem;
    border: 2px solid #007319;
    height: 600px;
    width: 520px;
}

.home-content:hover {
    background-color: #C9C9C9; 
}

.home-content p {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.home-content ul a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.home-content ul a:hover {
    text-decoration: underline;
}

.info-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #C9C9C9;
    font-weight: bold;
    margin-left: 18rem;
    margin-top: 1rem;
    height: 250px;
    width: 320px;
    padding: 10px;
}

.info-box ul {
    margin: 0;
    text-align: left;
    padding-left: 20px;
    list-style-type: square;
    width: 100%;
}

.info-box ul a {
    color: black;
    text-decoration: none;
}

.info-box ul a:hover {
    text-decoration: underline;
    color: #30ACFF;
}

footer {
    color: white;
    border: 3px solid #DBDBDB;
    background-color: #007319;
    margin-top: 5rem;
    margin-left: 0;
    top: 0;
    text-align: center;
    width: 100%;
}